<form>
	<table border="1px" style="margin:10px;">
	 <tr>
	 
	 <td style="padding:10px; vertical-align:top;">
	 
		 <table class="tableList">
		 	<tr><td>Assignment Name: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.assignmentName" type="text" size="25" maxlength="50" value=""/></td>
		 <td style="padding-left:40px;">Start Date: </td>
		 		<td><input name="startDate" ng-model="inspectionassignment.startDate" type="text" size="15" maxlength="50" value=""/></td></tr>
		 
		 <tr><td>Inspection Object: </td>
		 		<td><input name="inspectionObject" ng-model="inspectionassignment.inspectionObject.id" type="text" size="25" maxlength="50" value=""/></td>
		 <td style="padding-left:40px;">Due Date: </td>
		 		<td><input name="endDate" ng-model="inspectionassignment.endDate" type="text" size="15" maxlength="50" value=""/></td></tr> 
		 <tr><td>Responsible User: </td>
		 		<td><input name="user" ng-model="inspectionassignment.user.id" type="text" size="25" maxlength="50" value=""/></td></tr>
         </table>
	 </td></tr>
	 <tr><td>
	 <div ng-repeat="task in inspectionassignment.tasks"> 
	 	<input name="tasks" ng-model="task.taskName" type="text" size="25" maxlength="50" value=""/>
	 </div>
	 
	 
	 </td></tr>
	 <tr><td>
	 <input type="button" ng-click="reset()" value="Reset" style="margin-left:20px;" />
	 <input type="button" ng-click="save(inspectionassignment)" value="Save" style="margin-right:40px;"/>
	 as <select name="isTemplate" ng-model="inspectionassignment.isTemplate">
      <option value="false">Assignment</option>
      <option value="true">Template</option>
     </select>
	</td></tr>
	</table>
</form>