<div class="panel panel-default">
	<div class="panel-heading">Error Description</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
		    	<label for="assignmentTaskNameOutput" class="col-sm-3 control-label">Task Name</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="assignmentTaskNameOutput" name="assignmentTaskName" ng-disabled="!formControl.edit" ng-model="inspectionAssignmentTask.taskName">
		    	</div>
		  	</div>
			<div class="form-group">
		    	<label for="taskDescriptionOutput" class="col-sm-3 control-label">Task Description</label>
		    	<div class="col-sm-5">
		    	    <textarea class="form-control" style="resize: none;" rows="2" ng-disabled="!formControl.edit" id="taskDescriptionOutput" ng-model="inspectionAssignmentTask.description" name="description"></textarea>
		    	</div>
		  	</div>
			<div class="form-group">
		    	<label for="errorDescriptionInput" class="col-sm-3 control-label">Error Description</label>
		    	<div class="col-sm-5">
		    	    <textarea class="form-control" style="resize: none;" rows="2" id="errorDescriptionInput" ng-model="inspectionAssignmentTask.errorDescription" name="errorDescription"></textarea>
		    	</div>
		  	</div>
			<div class="form-group">
	  			<div class="col-sm-offset-3 col-sm-5">
	          	   <input type="button" class="btn btn-default" ng-click="reset()" value="Reset" />
	          	   <input type="submit" class="btn btn-success" ng-click="save(inspectionAssignmentTask)" value="Done" />
				</div>
			</div>
		</form>
	</div>
</div>
      
<div class="panel panel-default">
	<div class="panel-heading">Attachments</div>
	<div class="panel-body">
		<form ng-submit="performUpload()" name="fileUploadForm">
			<div class="form-group">
				<label for="fileInput">File Input</label>
				<input type="file" id="fileInput" name="fileInputField" nv-file-select="" uploader="uploader" ng-click="resetUploadQueue()"/>
			</div>
			<div class="form-group">
				<label for="fileDescription">Description</label>
				<input type="text" class="form-control" placeholder="Enter file description" ng-model="fileDescription" size="30" maxlength="30"/>
			</div>
			<div class="form-group">
				<label for="progressbar">Upload Progress</label>
				<div class="progress" style="">
                	<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                </div>
            </div>
			<button type="submit" class="btn btn-primary" ng-disabled="uploader.queue < 1">Upload</button>
		</form>
		<div class="panel-body">
			<table class="table table-hover table-bordered" ng-show="!noAttachments">
				<thead>
				    <tr>
				        <th width="50%">File Name</th>
				        <th>Description</th>
				        <th ng-show="uploader.isHTML5">Size</th>
				        <th>Actions</th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="attachment in inspectionAssignmentTask.attachments">
						<td>
							<a ng-href="{{attachment.url}}">{{attachment.fileName}}</a>
						</td>
						<td>
							{{attachment.description}}
						</td>
						<td nowrap>
							{{attachment.bytes/1024|number:2}} KB
						</td>
						<td nowrap>
							<button type="button" class="btn btn-success btn-xs" ng-click="downloadAttachment(attachment)">
								<span class="glyphicon glyphicon-download"></span> Download
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="deleteAttachment(inspectionAssignmentTask, attachment)">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>