<form>
    <table border="1px" style="margin:10px;">    
        <tr>
            <td style="padding:10px; vertical-align:top;">
                <table class="tableList">
                	<tr>
                        <td>Inspection Object:<span style="color: red;">*</span> </td>
                        <td>
                            <input name="objectName" ng-disabled="!formControl.edit" ng-model="inspectionObject.objectName" type="text" size="30" maxlength="30" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>Location: </td>
                        <td>
                            <input name="location" ng-disabled="!formControl.edit" ng-model="inspectionObject.location" type="text" size="30" maxlength="30" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>Customer Name: </td>
                        <td>
                            <input name="customerName" ng-disabled="!formControl.edit" ng-model="inspectionObject.customerName" type="text" size="30" maxlength="30" value="">
                        </td>
                    </tr>
                    <tr>
                    	<td>
							<span>Assignment Description: </span>
						</td>
						<td>
							<textarea ng-disabled="!formControl.edit" ng-model="inspectionObject.description" name="description" cols="90" rows="4"></textarea>
						</td>
                    </tr>
                </table>
            </td>
		</tr>
		<tr ng-show="formControl.edit && formControl.cancelPossible">
            <td style="padding:10px; vertical-align:top;">
				<div>
				<div class="form-actions">
				</div>
					<h4>Attachments</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">File name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in inspectionObject.attachments">
                                <td><a ng-href="{{item.url}}"><strong>{{ item.fileName }}</strong></a></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.bytes/1024|number:2 }} KB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td><input type="text" ng-model="item.description" ng-model-options="{ getterSetter: true }"/></td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                    	<input type="file" nv-file-select="" uploader="uploader"/>
					</form>
					<div>
                        <!--  <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div> 
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                        -->
                    </div>
              </div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
                <input ng-hide="formControl.edit" type="button" class="btn btn-primary btn-sm" ng-click="editOn()" value="Edit" />
                <input ng-show="formControl.edit && formControl.cancelPossible" type="button" class="btn btn-primary btn-sm" ng-click="editOff()" value="Cancel" />
                <input ng-show="formControl.edit" type="button" class="btn btn-primary btn-sm" ng-click="reset()" value="Reset" />
                <input ng-show="formControl.edit" type="submit" class="btn btn-primary btn-sm" ng-click="save(inspectionObject)" value="Save" />
            </td>
        </tr>
        <tr>
			<th colspan="2" style="text-align: right; padding-right: 40px; padding: 10px;">
				*mandatory field</th>
		</tr>
    </table>
</form>
