


	<div class="panel-body">
	
	<div class="container-fluid" style="margin-bottom:15px;">
	<div>
		    Search:
		    <input ng-model="query"/> <span style="margin-left:15px;">Sort by:
		    <select ng-model="orderProp">
		        <option value="objectName">Alphabetical</option>
		        <option value="location">Location</option>
		        <option value="customerName">Customer Name</option>
		    </select></span>
		    </div>
		</div>
	
		<table class="table table-hover table-bordered">
		    <thead>
		        <tr>
		            <th style="min-width:200px;">Inspection Objects</th>
		            <th style="min-width:150px;">Description</th>
		            <th style="min-width:75px;">Location</th>
		            <th style="min-width:75px;">Customer Name</th>
		            <th style="min-width:75px;">Clear
		            </th>
		        </tr>
		    </thead>
		    <tbody ng-repeat="inspectionobject in inspectionobjects | filter:query | orderBy:orderProp">
		        <tr>
		            <td>
		                <a href="#/inspectionobjects/{{inspectionobject.id}}">{{inspectionobject.objectName}}</a>
		            </td>
		            <td>
		                {{inspectionobject.description}}
		            </td>
		            <td>
		                {{inspectionobject.location}}
		            </td>
		            <td>
		                {{inspectionobject.customerName}}
		            </td>
		            <td style="text-align:center;">
		                <input type="submit" class="btn btn-danger btn-xs" ng-click="deleteItem(inspectionobject)" value="Delete" />
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>

