<div class="panel panel-default">
	<div class="panel-heading">Inspection Object Details</div>
	<div class="panel-body">
		<form ng-submit="save(inspectionObject)" class="form-horizontal">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		    <div class="form-group">
		    	<label for="objectNameInput" class="col-sm-3 control-label">Object Name<span style="color: red;">*</span></label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="objectNameInput" placeholder="Enter object name" name="objectName" ng-disabled="!formControl.edit" ng-model="inspectionObject.objectName" required>
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="locationInput" class="col-sm-3 control-label">Location</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="locationInput" placeholder="Enter location" name="location" ng-disabled="!formControl.edit" ng-model="inspectionObject.location" size="30" maxlength="30">
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="customerName" class="col-sm-3 control-label">Customer Name</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="customerNameInput" placeholder="Enter customer name" name="customerName" ng-disabled="!formControl.edit" ng-model="inspectionObject.customerName" size="30" maxlength="30">
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="descriptionInput" class="col-sm-3 control-label">Description</label>
		    	<div class="col-sm-5">
		    		<textarea class="form-control" style="resize: none;" rows="3" ng-disabled="!formControl.edit" id="descriptionInput" ng-model="inspectionObject.description" name="description"></textarea>
		    	</div>
		  	</div>
			<div class="form-group">
    			<div class="col-sm-offset-3 col-sm-5">
            		<input ng-hide="formControl.edit" type="button" class="btn btn-primary" ng-click="editOn()" value="Edit" />
            		<input ng-show="formControl.edit && formControl.cancelPossible" class="btn btn-default" type="button" ng-click="editOff()" value="Cancel" />
            		<input ng-show="formControl.edit" type="button" class="btn btn-default" ng-click="reset()" value="Reset" />
            		<input ng-show="formControl.edit" type="submit" class="btn btn-primary" value="Save" />
            	</div>
            </div>
		</form>
	</div>
</div>
<div class="panel panel-default" ng-show="formControl.cancelPossible">
	<div class="panel-heading">Attachments</div>
	<div class="panel-body">
		<form ng-submit="performUpload()" name="fileUploadForm">
			<div class="form-group">
				<label for="fileInput">File Input</label>
				<input type="file" id="fileInput" name="fileInputField" nv-file-select="" uploader="uploader" ng-click="resetUploadQueue()"/>
			</div>
			<div class="form-group">
				<label for="fileDescription">Description</label>
				<input type="text" class="form-control" placeholder="Enter file description" ng-model="fileDescription" size="30" maxlength="30"/>

			</div>
			<div class="form-group">
				<label for="progressbar">Upload Progress</label>
				<div class="progress" style="">
                	<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                </div>
            </div>
			<button type="submit" class="btn btn-primary" ng-disabled="uploader.queue < 1">Upload</button>
		</form>
		<div class="panel-body">
			<table class="table table-hover table-bordered" ng-show="!noAttachments">
				<thead>
				    <tr>
				        <th width="50%">File Name</th>
				        <th>Description</th>
				        <th ng-show="uploader.isHTML5">Size</th>
				        <th>Actions</th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="attachment in inspectionObject.attachments">
						<td>
							<a ng-href="{{attachment.url}}">{{attachment.fileName}}</a>
						</td>
						<td>
							{{attachment.description}}
						</td>
						<td nowrap>
							{{attachment.bytes/1024|number:2}} KB
						</td>
						<td nowrap>
							<button type="button" class="btn btn-success btn-xs" ng-click="downloadAttachment(attachment)">
								<span class="glyphicon glyphicon-download"></span> Download
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="deleteAttachment(inspectionObject, attachment)">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>