<div class="panel panel-default">
	<div class="panel-heading">Inspection Assignment Details</div>
	<div class="panel-body">
	<form ng-submit="save(inspectionObject)" class="form-horizontal">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<div class="form-group">
		    	<label for="assignmentNameInput" class="col-sm-3 control-label">Assignment Name</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="assignmentNameInput" name="assignmentName" ng-disabled="!formControl.edit" ng-model="inspectionassignment.assignmentName"/>
		    	</div>
		  	</div>
		  	<div class="form-group">
				<label for="descriptionInput" class="col-sm-3 control-label">Assignment Description</label>
				<div class="col-sm-5">
					<textarea class="form-control" ng-disabled="!formControl.edit" style="resize: none;" rows="2"
						id="descriptionInput" ng-model="inspectionassignment.description"
						name="description"></textarea>
				</div>
			</div>
		  	<div class="form-group">
		    	<label for="inspectionObjectInput" class="col-sm-3 control-label">Inspection Object</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="inspectionObjectInput" name="inspectionObject" ng-disabled="!formControl.edit" ng-model="inspectionassignment.inspectionObject.objectName"/>
		    	</div>
		    	<div style="padding-top:2px;">
		    	<a class="btn btn-success btn-sm" href="#/inspectionobjects/{{inspectionassignment.inspectionObject.id}}"><span style="color:#ffffff;">View Inspection Object</span></a>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="dueDateInput" class="col-sm-3 control-label">Due Date</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="dueDateInput" name="dueDate" ng-disabled="!formControl.edit" value="{{inspectionassignment.endDate | date:'dd.MM.yyyy'}}"/>
		    	</div>
		  	</div>	
		  	<div class="form-group">
		    	<label for="userNameInput" class="col-sm-3 control-label">Responsible User</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="userNameInput" name="userName" ng-disabled="!formControl.edit" ng-model="inspectionassignment.user.userName"/>
		    	</div>
		    	<div style="padding-top:2px;">
		    	<a class="btn btn-success btn-sm" href="#/users/{{inspectionassignment.user.id}}"><span style="color:#ffffff;">View User</span></a>
		    	</div>
		  	</div>
		
		</form>
	</div>
</div>   


				
<div class="panel panel-default">
	<div class="panel-heading">Inspection Assignment Tasks</div>
	<div class="panel-body">
	<form ng-submit="save(inspectionObject)" class="form-horizontal">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
					


			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Task</th>
						<th>Report</th>
						<th>Error</th>
					</tr>
				</thead>
				<tbody ng-repeat="task in inspectionassignment.tasks">
					<tr>
						<td>{{task.taskName}}</td>
						<td>
						<span ng-if="task.state == '2'">Not OK</span>
						<span ng-if="task.state == '1'">OK</span>
						<span ng-if="task.state == '0'">Initial</span>
						</td>
						<td>
						<a ng-if="task.errorDescription != '' || task.attachments != ''" class="btn btn-danger btn-xs"
						 href="#/errorDetail/{{inspectionassignment.id}}/{{task.id}}" >
						<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
						<span style="margin-left:5px;">View Error</span></a>
						</td>
					</tr>
				</tbody>
			</table>

</form>
</div>
</div>

