
	<div class="panel-body">

<div class="container-fluid" style="margin-bottom:15px;">
<div class="col-md-7">
	Search: <input ng-model="query" /> <span style="margin-left:15px;">Sort by: <select
		ng-model="orderProp">
		<option value="name">Alphabetical</option>
		<option value="endDate">Newest</option>
	</select></span>
	</div>
	<div class="col-md-3 navbar-right" style="text-align:right;">
	<a href="#/assignments/new" class="btn btn-success btn-xs">Create New Assignment</a>
    </div>
</div>

<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th style="min-width: 250px;">Assignments</th>
			<th style="min-width: 150px;">User Responsible</th>
			<th style="min-width: 75px;">Due Date</th>
			<th style="min-width: 75px;">Status</th>
			<th style="min-width: 75px;">Clear</th>
		</tr>
	</thead>
	<tbody
		ng-repeat="inspectionassignment in inspectionassignments | filter:query | orderBy:orderProp"
		ng-hide="{{inspectionassignment.isTemplate}}">
		<tr>
			<td><a href="#/assignments/{{inspectionassignment.id}}">{{inspectionassignment.assignmentName}}</a>
			</td>
			<td>{{inspectionassignment.user.userName}}</td>
			<td>{{inspectionassignment.endDate | date:"dd.MM.yyyy"}}</td>
			<td>
			<span ng-if="inspectionassignment.state == 0">Initial</span>
			<span ng-if="inspectionassignment.state == 1">In Progress</span>
			<span ng-if="inspectionassignment.state == 2">Finished</span>
			</td>
			<td style="text-align:center;"><input type="submit" class="btn btn-danger btn-xs"
				ng-click="deleteItem(inspectionassignment)" ng-if="inspectionassignment.state == '2' || inspectionassignment.state == '0'" value="Clear" />
				</td>
		</tr>
	</tbody>
</table>
</div>