<form>
	<table border="1px" style="margin:10px;">
	 <tr>
	 
	 <td style="padding:10px; vertical-align:top;">
	 
		 <table class="tableList">
		 	<tr><td>Assignment Name: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.assignmentName" type="text" size="30" maxlength="30" value=""></td></tr>
		 </table>
	 </td>
	 <td style="padding:10px; vertical-align:top;">
	 
	 <div style="margin:20px;">Assignment Description:<br>
	 	<textarea style="margin:5px;" ng-model="inspectionassignment.description" name="user_eingabe" cols="50" rows="5"></textarea>
	 </div>
	 
	 <div>Picture:<br>
		 <img alt="No Picture available" width="200" height="100" src="" >
	 </div>
	 <input type="button" ng-click="reset()" value="Reset" />
	 <input type="submit" ng-click="save(inspectionassignment)" value="Save" />
	
	 </td>
	 
	 </tr>
	</table>
</form>