<form>
	<table border="1px" style="margin:10px;">
	 <tr>
	 
	 <td style="padding:10px; vertical-align:top;">
	 
		 <table class="tableList">
		 	<tr><td>Assignment Name: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.assignmentName" type="text" size="25" maxlength="25" value=""></td>
		 <td style="padding-left:40px;">Start Date: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.startDate" type="text" size="15" maxlength="15" value=""></td></tr>
		 
		 <tr><td>Inspection Object: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.inspectionObject" type="text" size="25" maxlength="25" value=""></td>
		 <td style="padding-left:40px;">Due Date: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.endDate" type="text" size="15" maxlength="15" value=""></td></tr> 
		 <tr><td>Responsible User: </td>
		 		<td><input name="assignmentName" ng-model="inspectionassignment.user" type="text" size="25" maxlength="25" value=""></td></tr>
         </table>
	 </td></tr>
	 <tr><td>
	 
	 Task:
	 
	 </td></tr>
	 <tr><td>
	 <input type="button" ng-click="reset()" value="Reset" style="margin-left:20px;" />
	 <input type="submit" ng-click="save(inspectionassignment)" value="Save" style="margin-right:40px;"/>
	 <input name="isTemplate" ng-model="inspectionassignment.isTemplate" type="checkbox" value=""> Template 
	</tr>
	</table>
</form>