<table><tr><td>

<table border="1" style="margin:20px;">
    <tr><th>Assignments</th></tr>
    <tr><td>Objects</td></tr>
    <tr><td>List Of Assignments</td></tr>
    <tr><td>Templates</td></tr>
    <tr><th>Users</th></tr>
</table>

</td>
<td valign="top">

<div style="margin:20px;">
  Search: <input ng-model="query">
  Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>
</div>

<table border="1" style="margin:20px;">
<thead>
<tr>
<th style="min-width:250px;">Assignments</th>
<th style="min-width:150px;">User Responsible</th>
<th style="min-width:75px;">Due Date</th>
<th style="min-width:75px;">Status</th>
<th style="min-width:75px;">Clear</th>
</tr>
</thead>
<tbody ng-repeat="object in objects | filter:query | orderBy:orderProp">
<tr>
<td>
 <a href="#/objects/{{object.id}}">{{object.assignmentName}}</a>
</td>
<td>
  {{object.user.userName}}
</td>
<td>
  {{object.endDate}}
</td>
<td>

</td>
<td>

</td>
</tr>
</tbody>
</table> 

</td></tr>
</table>
