<form>
	<table border="1px" style="margin: 10px;">
		<tr>
			<td style="padding: 10px; vertical-align: top;">

				<table class="tableList">
					<tr>
						<td>Task Name:</td>
						<td>
						<input name="assignmentName" type="text" size="30"
							ng-disabled="!formControl.edit" maxlength="30"
							value="{{inspectionAssignmentTask.taskName}}" /></td>
					</tr>
					<tr>
						<td>Task Description:</td>
						<td><textarea ng-disabled="!formControl.edit"
								name="taskDescription" cols="40" rows="1">{{inspectionAssignmentTask.description}}</textarea></td>
					</tr>
					<tr>
					<td>Add Error Description:</td>
					<td><textarea name="errorDescription" ng-model="inspectionAssignmentTask.errorDescription" cols="40" rows="2"></textarea></td>
					</tr>
					<tr>
					
					<td>
					
					

			</td>
		</tr>
		<tr>
			<td	style="padding-top: 10px; padding-left: 20px; padding-bottom: 10px;">
				<input type="button" class="btn btn-primary btn-sm" ng-click="reset()" value="Reset" /> <input
				type="submit" class="btn btn-success btn-sm" ng-click="save(inspectionAssignmentTask)" href="/saved" value="Done" />
				
			</td>
		</tr>
	</table>
	<div class="panel panel-default">
	<div class="panel-heading">Attachments</div>
	<div class="panel-body">
		<form ng-submit="performUpload()" name="fileUploadForm">
			<div class="form-group">
				<label for="fileInput">File input</label>
				<input type="file" id="fileInput" name="fileInputField" nv-file-select="" uploader="uploader" ng-click="resetUploadQueue()"/>
			</div>
			<div class="form-group">
				<label for="fileDescription">Description</label>
				<input type="text" class="form-control" placeholder="Enter file description" ng-model="fileDescription" size="30" maxlength="30"/>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="uploader.queue < 1">Upload</button>
		</form>
		<div class="panel-body">
			<table class="table table-hover table-bordered" ng-show="!noAttachments">
				<thead>
				    <tr>
				        <th width="50%">File name</th>
				        <th>Description</th>
				        <th ng-show="uploader.isHTML5">Size</th>
				        <th>Actions</th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="attachment in inspectionObject.attachments">
						<td>
							<a ng-href="{{attachment.url}}">{{attachment.fileName}}</a>
						</td>
						<td>
							{{attachment.description}}
						</td>
						<td nowrap>
							{{attachment.bytes/1024|number:2}} KB
						</td>
						<td nowrap>
							<button type="button" class="btn btn-success btn-xs" ng-click="downloadAttachment(attachment)">
								<span class="glyphicon glyphicon-download"></span> Download
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="deleteAttachment(inspectionObject, attachment)">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
	
</form>