<table class="login">
    <tr>
        <td><img alt="Logo goes here" src="">
        </td>
    </tr>
    <tr>
        <td>
            <h2>Login to Inspection Framework</h2>
        </td>
    </tr>
    <tr>
        <td>
            <form name="loginForm">
                <p>
                    <input type="text" ng-model="user.username" name="username" value="" placeholder="Username">
                </p>
                <p>
                    <input type="password" ng-model="user.password" name="password" value="" placeholder="Password">
                </p>

                <p>
                    <input type="button" name="commit" ng-click="login(user.username, user.password)" value="Login">
                </p>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
        </td>
    </tr>
</table>