<div class="panel panel-default">
<div class="panel-heading">Profile Details</div>
	<div class="panel-body">
		<form ng-submit="save(user)" class="form-horizontal">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		    <div class="form-group">
		    	<label for="userName" class="col-sm-3 control-label">User name<span style="color: red;">*</span></label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="userNameInput" placeholder="Enter user name" name="userName" ng-disabled="!formControl.edit" ng-model="user.userName" required>
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="mailInput" class="col-sm-3 control-label">Email address<span style="color: red;">*</span></label>
		    	<div class="col-sm-5">
		    		<input type="email" class="form-control" id="mailInput" placeholder="Enter email" name="emailAddress" ng-disabled="!formControl.edit" ng-model="user.emailAddress" required>
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="passwordInput" class="col-sm-3 control-label">Password<span style="color: red;">*</span></label>
		    	<div class="col-sm-5">
		    		<input type="password" class="form-control" id="passwordInput" placeholder="Enter password" name="password" ng-disabled="!formControl.edit" ng-model="user.password" required>
		    	</div>
		  	</div>
		    
		    <div class="form-group">
		    	<label for="firstNameInput" class="col-sm-3 control-label">First name</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name" name="firstName" ng-disabled="!formControl.edit" ng-model="user.firstName">
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="lastNameInput" class="col-sm-3 control-label">Last name</label>
		    	<div class="col-sm-5">
		    		<input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name" name="lastName" ng-disabled="!formControl.edit" ng-model="user.lastName">
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="mobileNumberInput" class="col-sm-3 control-label">Mobile number</label>
		    	<div class="col-sm-5">
		    		<input type="tel" class="form-control" id="mobileNumberInput" placeholder="Enter mobile number" name="mobileNumber" ng-disabled="!formControl.edit" ng-model="user.mobileNumber">
		    	</div>
		  	</div>
		    <div class="form-group">
		    	<label for="phoneNumberInput" class="col-sm-3 control-label">Phone number</label>
		    	<div class="col-sm-5">
		    		<input type="tel" class="form-control" id="phoneNumberInput" placeholder="Enter phone number" name="phoneNumber" ng-disabled="!formControl.edit" ng-model="user.phoneNumber">
		    	</div>
		  	</div>
			<div class="form-group">
    			<div class="col-sm-offset-3 col-sm-5">
            		<input ng-hide="formControl.edit" type="button" class="btn btn-primary" ng-click="editOn()" value="Edit" />
            		<input ng-show="formControl.edit && formControl.cancelPossible" class="btn btn-default" type="button" ng-click="editOff()" value="Cancel" />
            		<input ng-show="formControl.edit" type="button" class="btn btn-default" ng-click="reset()" value="Reset" />
            		<input ng-show="formControl.edit" type="submit" class="btn btn-primary" value="Save" />
            	</div>
            </div>
		</form>
	</div>
</div>
