<div class="panel-body">

<div style="margin-bottom:15px;">
	Search: <input ng-model="query" /> <span style="margin-left:15px;">Sort by: <select
		ng-model="orderProp">
		<option value="assignmentName">Alphabetical</option>
  		<option value="endDate">Due Date</option>
  		<option value="inspectionObject.objectName">Inspection Object</option>
	</select></span>
</div>

<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th style="min-width: 250px; border-right-style: none;">Saved
				Assignments</th>
			<th style="border-left-style: none;"></th>
		</tr>
	</thead>
	<tbody ng-if="inspectionassignment.state == '1'"
		ng-repeat="inspectionassignment in inspectionassignments | filter:query | orderBy:orderProp"
		ng-hide="{{inspectionassignment.isTemplate}}">
		<tr>
			<td style="border-right-style: none;"><a
				href="#/assignments/{{inspectionassignment.id}}">{{inspectionassignment.assignmentName}}</a>

			</td>
			<td style="text-align: right; border-left-style: none;"><input
				type="button" class="btn btn-success btn-xs" ng-click="finish(inspectionassignment)" value="Submit Assignment"
				style="margin-right: 10px;" /></td>
		</tr>
	</tbody>
	
</table>
</div>