.fileinput-button 
{
	position: relative;
	overflow: hidden;
}

.fileinput-button input 
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

div.upload {
    overflow: hidden;
}

div.upload input {
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
    color:    #eee;
}
input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #eee;
}
input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #eee;
}
input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #eee;
}