/* app css stylesheet */

body {
  padding-top: 20px;
}

/*unvisited and visited link*/
a:link, a:visited, a:active {
	color: #242424;
	text-decoration: none;
}
/*active link*/
a:hover {
	color:#014283;
	cursor: pointer;
}



/* style for the login form*/
table.login {
	text-align:center;
	margin:auto;
	vertical-align:center;
	margin-top:50px;
}
.login td {
	padding:10px;
}

/*style id for the menu on the left side*/
#menu {
	margin:10px;
	position: fixed;
}
#menu thead, th {
	padding: 5px;
	background-color: #c0c0c0;
}
#menu td {
	padding: 0px;
}
#menu td:hover {
	background-color: #eeeeee;
	cursor: pointer;
}
#menu a {
	padding: 10px;
}


td {
	padding: 10px;
}

table.tableList  {
	margin: 10px;
	margin-bottom: 20px;
}

#tableDefault {
	margin-left: 10px;
	min-width: 650px;
}
#tableDefault td {
	padding: 7px;
}



/* style id for the navigation bar*/
#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff; /*font color*/
  background-color:#042c57;
  height: 60px;
  padding-top: 0px;
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: #c0c0c0;
	cursor: pointer;
}