/* app css stylesheet */

body {
  padding-top: 20px;
}


/* Stylesheet for the login form*/
table.login {
	text-align:center;
	margin:auto;
	vertical-align:center;
	margin-top:50px;
}
.login td {
	padding:10px;
}


table.tableList  {
	margin: 10px;
	margin-bottom: 20px;
}

.tableDefault thead, th {
	padding: 5px;
}

.tableDefault td {
	padding: 10px;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}


/* Stylesheet for the navigation bar*/
#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff; /*font color*/
  background-color:#000000;
  height: 60px;
  padding-top: 10px;
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: grey;
}