<h3>Login to Inspection <span style="font-weight: bolder">FRAMEWORK</span></h3>
<form ng-submit="login(user.username, user.password)">
	
    <div class="form-group">
    	<input type="text" class="form-control" style="width:200px;display:inline;" id="objectNameInput" placeholder="Enter username" name="userName" ng-model="user.username" required>
  	</div>
    <div class="form-group" > 
    	<input type="password" class="form-control" style="width:200px;display:inline;" id="passwordInput" placeholder="Enter password" name="password" ng-model="user.password" required>
  	</div>
  	<div class="form-group">
  		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  	</div>
  	<div class="form-group">
 		<input type="submit" class="btn btn-default btn-sm" name="commit" value="Login"/>
 	</div>
 	<p>Forgot your password? <a ng-href="#/remember">Click here to reset it</a>.</p>	 
</form>