<h3>Remember password</h3>
<form ng-submit="sendPassword(user.username, user.email)">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="form-group">
    	<input type="text" class="form-control" style="width:200px;display:inline;" id="usernameInput" ng-disabled="sentWithSuccess" placeholder="Enter username" name="userName" ng-model="user.username" required>
  	</div>
    <div class="form-group" > 
    	<input type="email" class="form-control" style="width:200px;display:inline;" id="emailInput" ng-disabled="sentWithSuccess" placeholder="Enter email address" name="email" ng-model="user.email" required>
  	</div>
  	<div class="form-group">
 		<input type="button" class="btn btn-default btn-sm" name="commit" value="Return to login page" ng-click="goToLogin()"/>
 		<input type="submit" class="btn btn-primary btn-sm" name="commit" ng-show="!sentWithSuccess" value="Send password"/>
 	</div>
</form>
